// Call to Action Block
//
// Styling for three call to action blocks on bottom of homepage
//
// Markup: call-to-action.twig
//
// Style guide: components.call_to_action

.call-to-action {
  position: relative;

  &__text {
    position: absolute;
    top: 55%;
    left: 3%;
  }

  &__text-header {
    font-family: $body_font;
    color: $gold;
    font-size: 2em;
    padding: 0;
    line-height: 80%;
  }

  &__text-details {
    font-family: $body_font;
    color: rgb(230, 230, 230);
    margin: 0;
    font-size: 0.75em;
  }
}
