<a class="call-to-action" href="#">
  <div class= "call-to-action__img">
    <img src="../images/CTA.png">
  </div>
  <div class= "call-to-action__text">
    <h2 class="call-to-action__text-header">Connect</h2>
    <p class="call-to-action__text-details">Interested in sponsoring or exhibiting?</p>
  </div>
</a>
