<div class= "call-to-action-block">
  <div class= "call-to-action-img">
  <img src="https://static.pexels.com/photos/59919/pexels-photo-59919.jpeg">
  </div>
  <div class= "call-to-action-text">
  <h1>Connect</h1>
  <p>Interested in sponsoring or exhibiting?</p>
  </div>
</div>
