<div class="tabledrag-toggle-weight-wrapper"><button type="button" class="link tabledrag-toggle-weight" title="Re-order rows by numerical weight instead of dragging.">Show row weights</button></div><div class="tableresponsive-toggle-columns"><button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button></div>
<table class="field-multiple-table responsive-enabled" data-striping="1">
  <thead>
      <tr>
        <th colspan="2" class="field-label"><h4 class="label">Co-Presenter(s)</h4></th>
        <th class="tabledrag-hide" style="display: none;">Order</th>
      </tr>
    </thead>
    <tbody>
      <tr class="draggable">
        <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
        <td>
          <div class="form-item js-form-type-entity-autocomplete form-type-entity-autocomplete form-item-field-co-presenter-s--0-target-id form-no-label">
          <label for="edit-field-co-presenter-s-0-target-id" class="visually-hidden">Co-Presenter(s) (value 1)</label>
          <input data-drupal-selector="edit-field-co-presenter-s-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/kdN0lchcQiCXYFfqPbqJHph3REHTU_wkep3FbiTj61w" name="field_co_presenter_s_[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off" type="text">
          </div>
        </td>
        <td class="delta-order tabledrag-hide" style="display: none;">
          <div class="form-item js-form-type-select form-type-select form-item-field-co-presenter-s--0--weight form-no-label">
          <label for="edit-field-co-presenter-s-0-weight" class="visually-hidden">Weight for row 1</label>
          <select data-drupal-selector="edit-field-co-presenter-s-0-weight" class="field_co_presenter_s_-delta-order form-select" name="field_co_presenter_s_[0][_weight]"><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
          </div>
        </td>
      </tr>
      <tr class="draggable">
        <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
        <td>
          <div class="form-item js-form-type-entity-autocomplete form-type-entity-autocomplete form-item-field-co-presenter-s--0-target-id form-no-label">
          <label for="edit-field-co-presenter-s-0-target-id" class="visually-hidden">Co-Presenter(s) (value 2)</label>
          <input data-drupal-selector="edit-field-co-presenter-s-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/kdN0lchcQiCXYFfqPbqJHph3REHTU_wkep3FbiTj61w" name="field_co_presenter_s_[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off" type="text">
          </div>
        </td>
        <td class="delta-order tabledrag-hide" style="display: none;">
          <div class="form-item js-form-type-select form-type-select form-item-field-co-presenter-s--0--weight form-no-label">
          <label for="edit-field-co-presenter-s-0-weight" class="visually-hidden">Weight for row 2</label>
          <select data-drupal-selector="edit-field-co-presenter-s-0-weight" class="field_co_presenter_s_-delta-order form-select" name="field_co_presenter_s_[0][_weight]"><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
          </div>
        </td>
      </tr>
      <tr class="draggable">
        <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
        <td>
          <div class="form-item js-form-type-entity-autocomplete form-type-entity-autocomplete form-item-field-co-presenter-s--0-target-id form-no-label">
          <label for="edit-field-co-presenter-s-0-target-id" class="visually-hidden">Co-Presenter(s) (value 3)</label>
          <input data-drupal-selector="edit-field-co-presenter-s-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/kdN0lchcQiCXYFfqPbqJHph3REHTU_wkep3FbiTj61w" name="field_co_presenter_s_[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off" type="text">
          </div>
        </td>
        <td class="delta-order tabledrag-hide" style="display: none;">
          <div class="form-item js-form-type-select form-type-select form-item-field-co-presenter-s--0--weight form-no-label">
          <label for="edit-field-co-presenter-s-0-weight" class="visually-hidden">Weight for row 3</label>
          <select data-drupal-selector="edit-field-co-presenter-s-0-weight" class="field_co_presenter_s_-delta-order form-select" name="field_co_presenter_s_[0][_weight]"><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
          </div>
        </td>
      </tr>
      <tr class="draggable">
        <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
        <td>
          <div class="form-item js-form-type-entity-autocomplete form-type-entity-autocomplete form-item-field-co-presenter-s--0-target-id form-no-label">
          <label for="edit-field-co-presenter-s-0-target-id" class="visually-hidden">Co-Presenter(s) (value 4)</label>
          <input data-drupal-selector="edit-field-co-presenter-s-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/kdN0lchcQiCXYFfqPbqJHph3REHTU_wkep3FbiTj61w" name="field_co_presenter_s_[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off" type="text">
          </div>
        </td>
        <td class="delta-order tabledrag-hide" style="display: none;">
          <div class="form-item js-form-type-select form-type-select form-item-field-co-presenter-s--0--weight form-no-label">
          <label for="edit-field-co-presenter-s-0-weight" class="visually-hidden">Weight for row 4</label>
          <select data-drupal-selector="edit-field-co-presenter-s-0-weight" class="field_co_presenter_s_-delta-order form-select" name="field_co_presenter_s_[0][_weight]"><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
          </div>
        </td>
      </tr>
      <tr class="draggable">
        <td class="field-multiple-drag"><a href="#" class="tabledrag-handle" title="Drag to re-order"><div class="handle">&nbsp;</div></a></td>
        <td>
          <div class="form-item js-form-type-entity-autocomplete form-type-entity-autocomplete form-item-field-co-presenter-s--0-target-id form-no-label">
          <label for="edit-field-co-presenter-s-0-target-id" class="visually-hidden">Co-Presenter(s) (value 5)</label>
          <input data-drupal-selector="edit-field-co-presenter-s-0-target-id" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/entity_reference_autocomplete/user/default%3Auser/kdN0lchcQiCXYFfqPbqJHph3REHTU_wkep3FbiTj61w" name="field_co_presenter_s_[0][target_id]" value="" size="60" maxlength="1024" placeholder="" autocomplete="off" type="text">
          </div>
        </td>
        <td class="delta-order tabledrag-hide" style="display: none;">
          <div class="form-item js-form-type-select form-type-select form-item-field-co-presenter-s--0--weight form-no-label">
          <label for="edit-field-co-presenter-s-0-weight" class="visually-hidden">Weight for row 5</label>
          <select data-drupal-selector="edit-field-co-presenter-s-0-weight" class="field_co_presenter_s_-delta-order form-select" name="field_co_presenter_s_[0][_weight]"><option value="-4">-4</option><option value="-3">-3</option><option value="-2">-2</option><option value="-1">-1</option><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
          </div>
        </td>
      </tr>      

          </tbody>
    </table>

<!-- END OUTPUT from 'core/themes/stable/templates/dataset/table.html.twig' -->


          <div class="description">Does your session have co-presenters? If so, please add them here. In order for them to be listed, they will have to <a href="/form/registration?destination=/user/">register</a> to Drupal GovCon, as well.</div>
          </div>
