<div id="block-exposedformsessions-schedulepage-1">
<form id="views-exposed-form-sessions-schedule-page-1">
<div class="form-item">
	<label>Session Track</label>
	<select id="edit-track">
	<option value="All" selected="selected">- Any -</option>
	</select>
</div>
<div class="form-item">
	<label>Experience Level</label>
	<select id="edit-experience">
	<option value="All" selected="selected">- Any -</option>
	</select>
</div>
</form>
</div>
<nav id="block-schedule" class="block block-menu navigation block-system-menublock menu--schedule">
	<ul class="menu">
		<li><a class="is-active">Monday</a></li>
		<li><a>Tuesday</a></li>
		<li><a>Wedenesday</a></li>
	</ul>
</nav>
<div class="program-schedule">
	<div class="view-header">
		<time>Monday, July 31, 2017</time>
	</div>
	<div class="view-content">
		<h3><time>9:00am</time>
		<div class="views-row">
			<article>
				<header><h3><a href="#">Title Here</a></h3></header>
				<div class="content">
					<div class="session-presenters"><a href="#">Presenter</a></div>
					<div><div class="field--name-field-session-track"><a href="#">Track</a></div><div class="field--name-field-experience-level">Experience Level</div></div>
					<div class="session-location">Location</div>
					
				</div>
			</article>
		</div>
	</div>
</div>