// Homepage CTA Widgets
//
// Homepage CTA Widget Styling
//
// Markup: homepageCTAs.twig
//
// Style guide: components.homepageCTAs

.secondarybanners {
	margin: 0 -1em;
}

.secondarybannertext {
	position: absolute;
	bottom: 0.5em;
	padding-bottom: 0.5em;
}

.home_cta {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	margin-bottom: -0.5em; /* Removes spacing at bottom */
}

.home_cta img {
	width: 100%;
}

.home_cta h3 {
	font-family: 'GovCon', Helvetica, sans-serif;
	font-size: 2.5em;
	letter-spacing: 0.05em;
	color: rgba(255,255,255,1);
	text-shadow: 0 0 0.5em rgba(0,0,0,0.5);
	margin: 0 0.5em -0.25em 0.5em;
	padding-bottom: 0;
}

.home_cta p {
	color: rgba(239,172,55,1);
	margin: 0 1em;
	padding: 0 0 0.5em 0;
}

.home_cta a:link,
.home_cta a:visited {
	color: rgba(239,172,55,1);
	text-decoration: none;
}

.home_cta p a:hover,
.home_cta p a:visited:hover {
	color: rgba(239,172,55,0.7);
	text-decoration: underline; 
}

    @include breakpoint($min-tablet) {
		.home_cta {
			width: 50%;
		}
  }
