<aside>
  <div class="block">
    <h2>Example title</h2>
    Simple block: Liquorice fruitcake lollipop. Sesame snaps muffin gummies
    cake. Apple pie dessert sugar plum toffee marzipan bonbon sesame snaps
    halvah. Macaroon croissant sweet cheesecake. Croissant icing muffin. Gingerbread pudding
    halvah bonbon chupa chups bonbon sugar plum fruitcake ice cream. Bear claw
    tootsie roll jujubes.
  </div>
</aside>
<aside class="sidebar-second sidebars" id="sidebar-second" style="width: 385px;">
  <div class="region region-sidebar-second">
    <div class="views-element-container block block-views block-views-blockspecial-announcements-display-block-3" id="block-views-block-special-announcements-display-block-3" data-block-plugin-id="views_block:special_announcements_display-block_3">
      <h2>Announcements</h2>
      <div>
        <div class="home-announcements view view-special-announcements-display view-id-special_announcements_display view-display-id-block_3 js-view-dom-id-b56edcab81a13777110fe039cbdb47b4a4dd40ec736b51ced524a61ff1f57182">
          <div class="view-header">
            <p>Follow us on social media for the latest happenings. To help you better plan, here are important dates and announcements:</p>
          </div>
          <div class="view-content">
            <div class="views-row">
              <div class="views-field views-field-title"><h3 class="field-content"><a href="/2018/announcements/2019-dates-announced" hreflang="en">2019 Dates Announced!</a></h3>
              </div>
              <p class="views-field views-field-field-important-date"><em class="field-content">Posted <time datetime="00Z">August 22</time></em></p>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>July 24-26, 2019</p>
                </div>
              </div>
            </div>
            <div class="views-row">
              <div class="views-field views-field-title"><h3 class="field-content"><a href="/2018/announcements/change-plans" hreflang="en">Change of Plans?</a></h3>
              </div>
              <p class="views-field views-field-field-important-date"><em class="field-content">Posted <time datetime="00Z">August 15</time></em></p>
              <div class="views-field views-field-body">
                <div class="field-content"><h2>Can’t Make it Anymore?</h2>
                  <p>Schedules change. Things happen. We understand.</p>
                </div>
              </div>
            </div>
            <div class="views-row">
              <div class="views-field views-field-title"><h3 class="field-content"><a href="/2018/announcements/lunches" hreflang="en">Lunches</a></h3>
              </div>
              <p class="views-field views-field-field-important-date"><em class="field-content">Posted <time datetime="00Z">August 13</time></em></p>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>Attendees who registered by August 12th will be given preference in line at lunch.</p>
                </div>
              </div>
            </div>
            <div class="views-row">
              <div class="views-field views-field-title"><h3 class="field-content"><a href="/2018/announcements/personalize-your-schedule" hreflang="en">Personalize Your Schedule!</a></h3>
              </div>
              <p class="views-field views-field-field-important-date"><em class="field-content">Posted <time datetime="00Z">July 23</time></em></p>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>Add your favorite sessions to your schedule and personalize your Drupal GovCon experience.</p>
                </div>
              </div>
            </div>
            <div class="views-row views-row-last">
              <div class="views-field views-field-title"><h3 class="field-content"><a href="/2018/announcements/personal-sponsorships-available" hreflang="en">Personal Sponsorships Available</a></h3>
              </div>
              <p class="views-field views-field-field-important-date"><em class="field-content">Posted <time datetime="00Z">July 9</time></em></p>
              <div class="views-field views-field-body">
                <div class="field-content">
                  <p>Be a Personal Sponsor of Drupal GovCon!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="view-footer">
            <p><a href="/special-announcements" rel="nofollow">More Announcements</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
