// Base HTML Elements.
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: $dark-gray;
  font-size: 1em;
  font-family: $body_font;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: rgba($teal, 0.5);
  width: 100%;
  overflow-x: hidden;
  position: relative;

  @include breakpoint($medium-max) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -20;
      opacity: 0.03;
      background-image: url(../images/GC18_motif_pattern_01-K.svg);
      background-repeat: repeat;
      background-size: 72px 72px;
    }
  }
}

hr {
  color: $teal;
  border-width: 2pt;
  border-style: solid;
  margin: 2em 0;
}

// Base Headings
//
// Markup: headlines.twig
//
// Style guide: base.headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: $teal;
}

h1 {
  color: $sienna;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
  letter-spacing: 0.02em; /* Increases readibility at this smaller type size */
}

// Base Text
//
// Markup: text.twig
//
// Style guide: base.text

a,
a:visited {
  color: $link;
  text-decoration: none;
  cursor: inherit;
}

a:hover {
  color: $sienna;
  text-decoration: underline;
  cursor: pointer;
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

// Blockquote & Pre
//
// Markup: blockquote.twig
//
// Style guide: base.blockquote
blockquote {
  padding: 0 15px;
  color: $dark-gray;
  border-left: 4px solid $off-white;

  &:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;

  code {
    border: 1px dotted $dark-gray;
    background: $off-white;
    padding: 2px 9px;
    display: block;
    font-size: 85%;
  }
}
// List Types
//
// Markup: lists.twig
//
// Style guide: base.lists

// OL items

// Tables
//
// Markup: table.twig
//
// Style guide: base.table
table {
  font-family: $body_font;
  border: 1px solid $teal;
  padding: 0.25em;

  thead {
    background-color: $teal;
    color: $gray;
    border-bottom: 0;
  }

  th {
    font-weight: 600;
    text-align: center;
    padding: 0.25em;
  }

  tbody {
    background-color: $textarea;
    color: $teal;
    text-align: center;
  }

  td {
    border: 0;
    outline: none;
    padding: 0.25em;
  }

  tbody tr:nth-child(even) {
    background-color: rgba(54, 114, 122, 0.1);
  }

  tfoot {
    border-top: 1px solid $teal;
    background-color: rgba(54, 114, 122, 0.2);
    color: $teal;
    font-size: 0.875em;
    text-align: left;
  }
}
