// Forms
//
// Base form elements.
//
// Markup: form_html.twig
//
// Style guide: form.common
form {
  margin: 0 0 1em;
}

form .form-item {
  padding: 0.3em;
}

label {
  display: inline-block;
  color: $teal;
  cursor: pointer;
  font-weight: 400;
  margin: 0 0 0.1875em;
  padding-right: 4px;
  vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  background-color: $textarea;
  font-family: inherit;
  border: 1px solid $textarea-border;
  border-radius: 0.25em;
  box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.125);
  color: $teal;
  display: block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  box-shadow: 0 0 0.25em 0.25em $textarea-focus;
}

input[type="text"]:disabled,
input[type="text"]:disabled:hover,
textarea:disabled {
  background-color: rgba(254, 218, 0, 0.1);
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}

input[type="file"] {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  z-index: 10;
  opacity: 0;
  margin-left: 0.5em;

  + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 0.5em;
    margin-right: 1em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      z-index: -10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 1em;
      background-color: $teal;
    }
  }
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
  -webkit-box-shadow: 0 0 0.25em 0.25em rgba(128, 188, 250, 1);
}

input[type="radio"] + label::before {
  border-radius: 10px;
}

input[type="checkbox"] + label::before {
  border-radius: 3px;
}

input[type="radio"]:checked + label::before {
  content: "\2022";
  color: rgba($white, 0.75);
  font-size: 1.4em;
  text-align: center;
  line-height: 1em;
}

input[type="checkbox"]:checked + label::before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: rgba($white, 0.75);
  text-align: center;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
  background-color: rgba($teal, 0.5);
}

select {
  -webkit-appearance: none;
  padding: 0.5em 2.25em 0.5em 1em;
  background: $teal url(../images/DownArrow-Rev.svg) 94% center no-repeat;
  background-size: 1.25em;
  text-indent: 0.01px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $montserrat;
  font-size: 1em;
  letter-spacing: 0.02em;

  &:hover {
    background-color: $sienna;
  }
}

fieldset {
  border: 1px solid $teal;
  border-radius: 0.2em;
  margin: 1em 0 2em;
}

fieldset legend {
  font-weight: bold;
  background: $teal;
  color: $gray;
  background-color: $legend;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

// buttons /////////////////////////
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include borderradius();

  border: 1px solid $white;
  padding: 5px 11px;
  background: $off-white;
  color: $med-gray;

  @extend .tmp-shadow;

  &:hover,
  &:focus {
    background: $lighter-gray;
  }
}

input[type="submit"] {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $montserrat;
  font-size: 1em;
  letter-spacing: 0.02em;
  background: $teal;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.25em;
  margin: 1em 0;
  outline: none;
  border: none;

  &:hover {
    background-color: $sienna;
  }

  &:disabled {
    background: rgba($teal, 0.5);

    &:hover {
      background-color: $sienna;
    }
  }
}
// Error conditions ////////////////////////////
.error,
.error textarea,
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error label,
.error label.error {
  color: $red;
}

.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: $red;
  color: #fff;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

input.error:focus,
textarea.error:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
}

.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

label.error {
  color: $red;
}
// Form HTML5
//
// Markup: form_html5.twig
//
// Style guide: form.html5
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  background-color: white;
  font-family: inherit;
  border: 1px solid $lighter-gray;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: auto;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  box-shadow: 0 0 5px $light-gray;
  border-color: $light-gray;
  outline: none;
}

form input[disabled],
form button[disabled] {
  background-color: $light-gray;
  box-shadow: none;

  &:hover {
    background-color: $light-gray;
  }
}
// simple transitions ////////////////////
form button,
form input {
  transition: all 0.3s ease;

  &[disabled] {
    transition: auto;
  }
}
