<fieldset>
  <legend>HEADING 1-SINGLE ELEMENT</legend>
  <h1>This is Heading 1</h1>
</fieldset>

<fieldset>
  <legend>HEADING 2-SINGLE ELEMENT</legend>
    <h2>This is Heading 2</h2>
</fieldset>
<fieldset>
  <legend>HEADING 3-SINGLE ELEMENT</legend>
    <h3>This is Heading 3</h3>
</fieldset>
<fieldset>
  <legend>HEADING 4-SINGLE ELEMENT</legend>
    <h4>This is Heading 4</h4>
</fieldset>
<fieldset>
  <legend>HEADING 5-SINGLE ELEMENT</legend>
    <h5>This is Heading 5</h5>
</fieldset>
<fieldset>
  <legend>HEADING 6-SINGLE ELEMENT</legend>
    <h6>This is Heading 6</h6>
</fieldset>

<form>
  <p><label for="text_field">Text Field</label>
    <input type="text" id="text_field" placeholder="Enter Text">
  </p>

  <p><label for="text_field_disabled">Disabled Text Field</label>
    <input type="text" id="text_field_disabled" disabled value="I'm disabled">
  </p>

  <p><label for="text_area">Text Area</label>
    <textarea id="text_area" style="margin: 0px; width: 357px; height: 69px;" placeholder="Enter Text"></textarea>
  </p>

  <p><label for="text_area_disabled">Disabled Text Area</label>
    <textarea id="text_area_disabled" disabled>I'm disabled</textarea>
  </p>

  <p><label for="select_element">Select Element:</label>
    <select id="select_element">
      <optgroup label="Option Group 1">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3" disabled="">Disabled Option</option>
      </optgroup>
    </select>
  </p>

  <p><label for="select_element_disabled">Disabled Select Element:</label>
    <select id="select_element_disabled" disabled="">
      <option value="1">Unselectable Option</option>
      <option value="2">This option should not even be seen</option>
    </select>
  </p>

  <p>Radio Buttons:
    <input type="radio" class="radio" name="radio_button" value="radio_1">
    <label>Radio 1</label>
    <input type="radio" class="radio" name="radio_button" value="radio_2">
    <label>Radio 2</label>
    <input type="radio" class="radio" name="radio_button" value="radio_3">
    <label>Radio 3</label>
    <input type="radio" class="radio" name="radio_button" value="radio_4" disabled="">
    <label>Radio Disabled</label>
  </p>

  <p>Checkboxes:
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_1">
    <label>Checkbox 1</label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_2">
    <label>Checkbox 2</label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_3">
    <label>Checkbox 3</label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_4" disabled="">
    <label>Checkbox Disabled</label>
  </p>

  <p><label for="password">Password:</label>
    <input type="password" class="password" id="password">
  </p>

  <p><label for="file">File Input:</label>
    <input type="file" class="file" id="file">
  </p>

</form>
