<table>
  <thead>
  <tr>
    <th>Header Element</th>
    <th>Header Element</th>
    <th>Header Element</th>
    <th>Header Element</th>
  </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">Table Footer Elements</td>
    </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
  </tr>
  <tr>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
  </tr>
  <tr>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
    <td>Body Element</td>
  </tr>
  </tbody>
</table>
