<div class="secondarybanner">
  <img src="/themes/custom/twentyseventeen/images/GovCon2017_Connect_CTA_Image.jpg" alt="Sponsor at GovCon 2017">
  <div class="secondarybanner__text">
    <h3>Connect</h3>
    <p><a href="#">Interested in sponsoring or exhibiting?</a></p>
  </div>
</div>
