// Sponsor
//
// Individual Sponsor
//
// Markup: sponsor-listing.twig
//
// Style guide: components.sponsor-listing
.sponsor-listing{
  @include clearfix;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;

  h2 {
    margin-top:40px;
  }

  p {
    font-size: 0.75em;
    font-style: italic;
   }
}
