<div class="internalheader__wrapper">
  <a href="{{ url }}">
    <img class="header__logo" src="{{ logo }}" alt="{{alt-text}}" typeof="foaf:Image">
  </a>
 <div class="internalheader__ctas group">
 <a class="hero__button" href="/form/registration?destination=/user/register">Tickets</a>
</div>
