{#
/**
 * @file
 * Template for a one column panel layout.
 */
#}
<div class="cog-pl panel-cog-layout-one-col" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--main">{{ content.main }}</div>
            </div>
        </div>
    </div>
</div>