// Buttons
//
// Markup: buttons.twig
//
// Style guide: atoms.buttons

button,
.btn,
.button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 0.25em;
  background-color: $color-primary;
  box-shadow: 0 3px 3px #00000029;
  color: $white !important;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-primary;
    text-decoration: none;
  }

  &:disabled {
    background: rgba($color-primary, 0.5);

    &:hover {
      background-color: $primary-darkest;
    }
  }
}
