<table>
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  <tr>
    <td>Division 1</td>
    <td>Division 2</td>
    <td>Division 3</td>
  </tr>
  </tbody>
</table>