// User Profile
//
// Display of individual user profiles.
//
// Markup: userprofile.twig
//
// Style guide: components.userprofile


// Custom Icon Fonts
@font-face {
  font-family: "gc17icons";
  src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.eot");
  src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.eot?#iefix") format("embedded-opentype"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.woff") format("woff"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.ttf") format("truetype"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.svg#gc17icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "gc17icons";
    src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.svg#gc17icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-drupalicon:before,
.icon-email:before,
.icon-facebook:before,
.icon-govcon17:before,
.icon-reset:before,
.icon-twitter:before,
.icon-website:before {
  display: inline-block;
  font-family: "gc17icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-drupalicon:before { content: "\f100"; }
.icon-email:before { content: "\f101"; }
.icon-facebook:before { content: "\f102"; }
.icon-govcon17:before { content: "\f103"; }
.icon-reset:before { content: "\f104"; }
.icon-twitter:before { content: "\f105"; }
.icon-website:before { content: "\f106"; }

// End Custom Icon Fonts


.user_profile_page {
	//overflow: scroll;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-word;
	-moz-word-break: normal;
	-moz-hyphens: auto;
}

.bio_photo {
	text-align: center;
}
.bio_photo img {
	border: 6px solid $sft-blu;
	border-radius: 50%;
	margin: 2em 0;
}
.bio_name {
	text-align: center;
}
.bio_name h2 {
	font-weight: 600;
	font-size: 2.5em;
	padding-bottom: 0;
}
.bio_name .field--name-field-first-name,
.bio_name .field--name-field-last-name {
	display: inline-block;
}

.bio_organization p,
.bio_organization h3 {
	text-align: center;
	font-size: 1.75em;
	font-weight: 600;
	color: rgba($blu, 0.5);
	padding-bottom: 0;
}
.bio_title p,
.bio_title h4 {
	text-align: center;
	font-style: italic;
	color: $green;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
.bio_contact {
	text-align: center;
	margin-bottom: 1em;
}
.bio_contact p.sm_icons {
	padding-top: 0.5em;
}
.bio_biography {
	margin-top: 2em;	
}
.bio_biography p {
	font-size: 1.25em;
	line-height: 1.5;
	color: $md-gr;
	color: rgb(100,100,100);
}
.user_presentations {
	margin-top: 2em;
}
.user_presentations h3 {
	font-size: 1.4em;
	font-style: italic;
	padding-bottom: 0;
}
.sm_icons {
	font-size: 2em;
	padding: 0 1em;
}

.sm_icons .item-list--linkicon,
.sm_icons .item-list--linkicon ul {
	display: inline-block;
}

.sm_icons .item-list--linkicon ul {
	padding: 0;
}

.sm_icons .item-list--linkicon ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 0.25em 0 0.25em;
}

.sm_icons .linkicon__text span.ext {
	display: none;
}

.sm_icons li a.linkicon__item.ext span.ext {
	display: none;
}

.sm_icons a:link,
.sm_icons a:visited,
.sm_icons a.pseudo-class-visited {
	text-decoration: none;
	padding: 0 1em 0 0;
}

.sm_icons a:hover {
	color: rgba($blu, 0.5);
}

.sm_icons a:last-of-type {
	padding: 0 !important;
}