// User Profile
//
// Display of individual user profiles.
//
// Markup: userprofile.twig
//
// Style guide: components.userprofile


// Custom Icon Fonts
@font-face {
  font-family: "gc17icons";
  src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.eot");
  src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.eot?#iefix") format("embedded-opentype"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.woff") format("woff"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.ttf") format("truetype"),
       url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.svg#gc17icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "gc17icons";
    src: url("../gc17icons/gc17icons_ab33fc00b57259de02202143dd86bba3.svg#gc17icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-drupalicon:before,
.icon-email:before,
.icon-facebook:before,
.icon-govcon17:before,
.icon-reset:before,
.icon-twitter:before,
.icon-website:before {
  display: inline-block;
  font-family: "gc17icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-drupalicon:before { content: "\f100"; }
.icon-email:before { content: "\f101"; }
.icon-facebook:before { content: "\f102"; }
.icon-govcon17:before { content: "\f103"; }
.icon-reset:before { content: "\f104"; }
.icon-twitter:before { content: "\f105"; }
.icon-website:before { content: "\f106"; }

// End Custom Icon Fonts



.secondarybanner {
  @include clearfix;
	display: block;
	position: relative;
	margin-bottom: -0.5em; /* Removes spacing at bottom */

	&__text {
		position: absolute;
		bottom: 0.5em;
		padding-bottom: 0.5em;
	}

	h3 {
		font-family: 'GovCon', Helvetica, sans-serif;
		font-size: 2.5em;
		letter-spacing: 0.05em;
		color: rgba(255,255,255,1);
		text-shadow: 0 0 0.5em rgba(0,0,0,0.5);
		margin: 0 0.5em -0.25em 0.5em;
		padding-bottom: 0;
	}

	img {
		width: 100%;
	}

	p {
		color: rgba(239,172,55,1);
		margin: 0 1em;
		padding: 0 0 0.5em 0;

		a:hover,
		a:visited:hover {
			color: rgba(239,172,55,0.7);
			text-decoration: underline;
		}
	}

	& a:link,
	& a:visited {
		color: rgba(239,172,55,1);
		text-decoration: none;
	}
}

.user_profile_page {
	overflow: scroll;
}

.bio_photo {
	text-align: center;
}
.bio_photo img {
	border: 6px solid $sft-blu;
	border-radius: 50%;
	margin: 2em 0;
}
.bio_name {
	text-align: center;
}
.bio_name h2 {
	font-weight: 600;
	font-size: 2.5em;
	padding-bottom: 0;
}
.bio_organization p {
	text-align: center;
	font-size: 1.75em;
	font-weight: 600;
	color: rgba($blu, 0.5);
}
.bio_title p {
	text-align: center;
	font-style: italic;
	color: $green;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
.bio_contact {
	text-align: center;
	margin-bottom: 1em;
}
.bio_biography {
	margin-top: 2em;	
}
.bio_biography p {
	font-size: 1.25em;
	line-height: 1.5;
	color: $md-gr;
	color: rgb(100,100,100);
}
.user_presentations {
	margin-top: 2em;
}
.user_presentations h3 {
	font-size: 1.4em;
	font-style: italic;
	padding-bottom: 0;
}
