// Home Announcements
//
// Special Announcements to be run on homepage.
//
// Markup: homeannouncements.twig
//
// Style guide: components.homeannouncements

.home-announcements {
	background: rgba($green, 0.2);
	border-top: 4px solid $green;
	padding: 1em;
	margin: 1em 0 1em 0;
}

.home-announcements h2 {
	font-weight: 700;
	font-size: 1.5em;
	color: $green;
	padding-bottom: 0;
	
}

.home-announcements p {
	margin-bottom: 0.5em;
}

.home-announcements p:first-child {
	margin-top: 0;
}

.home-announcements .views-row {
	border-bottom: 2px solid $green;
	margin-bottom: 1em;
}

.home-announcements .views-row:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

    @include breakpoint($min-tablet) {
    	.home-announcements {
    		margin: 1em 10% 2em 10%;
    	}
  }
