<div class="home-announcements">
	<div class="views-row">
		<div class="views-field-title">
			<h2>{{title}}</h2>
		</div>
		<div class="views-field-body">
			<p>{{body}}</p>
		</div>
	</div> <!-- End views-row -->
</div>
