// Utility
//
// <strong>.list-style-none</strong> - removes list style and padding from a ul
//
// Style guide: base.utility


// No list style
ul.list-style-none {
  list-style: none;
  padding-left: 0;
}

// Block style
.blk-style {
  border: 1px solid $lt-gr;
  padding: 0.75em;
  border-radius: 0.25em;
  background: rgba(134,151,58,0.1);
}