<div {{ attributes }}>
    <div  class="sponsor-listing sponsor-listing--{{ content.sponsor_level }}">
        <h2>{{ content.sponsor_level }} Sponsors</h2>
        {{ content.sponsor_listing }}
    </div>
</div>