// Hero
//
// Hero Styling
//
// Markup: hero.twig
//
// Style guide: components.hero

.block--bundle-hero-block {
  min-height: 360px;

  @include breakpoint(483px) {
    min-height: 500px;
  }

  @include breakpoint(513px) {
    min-height: 620px;
  }

  @include breakpoint(545px) {
    min-height: 684px;
  }

  @include breakpoint(594px) {
    min-height: 710px;
  }

  @include breakpoint($small-max) {
    min-height: 550px;
  }

  @include breakpoint(821px) {
    min-height: 600px;
  }

  @include breakpoint($medium-max) {
    min-height: 300px;
  }
}

.hero {
  width: 100%;

  &__background-img {
    position: absolute;

    img,
    picture {
      min-height: 360px;

      @include breakpoint($medium) {
        min-height: 440px;
      }
    }
  }

  &__details {
    display: block;
    position: relative;
    top: 25%;
  }

  &__details-logo {
    margin: 0 auto;
    padding: 5em 0 2em;
    width: 12em;

    &:hover {
      opacity: 0.75;
      filter: drop-shadow(0 0 2em rgba(0, 0, 0, 1));
    }
  }

  &__details-callout {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  &__details-button {
    padding: 0.25em 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    font-family: $body-font;
    text-decoration: none;
    font-size: 1.5em;
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.5));
  }
}

a.hero__details-button {
  color: $white;

  &:hover {
    background-color: rgba(142, 47, 15, 1);
    border: 2px solid rgb(254, 236, 127);
    color: rgb(254, 236, 127);
    text-decoration: none;
  }

  .ext {
    display: none;
  }
}
