<div class= "hero">
  <div class= "hero__background-img">
    <img src="../images/wide_home-hero.jpg"/>
  </div>
  <div class= "hero__logo">
    <a href="https://www.drupalgovcon.org/"> <img src="../images/dgc18.png" height="125px" width="100px"></a>
  </div>
  <a class="hero__callout" href="#">
    <div class="hero__callout-button">
    <p class="hero__callout-text">Mark Your Calendars!</p>
    </div>
  </a>
</div>
