<div class= "hero-block">
  <div class= "hero-background-img">
    <img src="https://static.pexels.com/photos/59919/pexels-photo-59919.jpeg"/>
  </div>
  <div class= "hero-logo">
  <a href="https://www.drupalgovcon.org/"> <img src="../images/dgc18.png" height="125px" width="100px"></a>
  </div>
</div>
