// Homepage Into Text
//
// Typographic Styling for Hompage Intro Text
//
// Markup: homepageintro.twig
//
// Style guide: components.homepageintro

.homepageintro {

}

.introdek {
	text-align: center;
}

.introdek h2 {
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: bold;
}

.introdek h3 {
	color: rgba(134,151,58,1);
	font-size: 1.6em;
	margin-top: 0;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

.introdek p {
	text-align: left;
	font-size: 1.2em;
	line-height: 1.35em;
	margin-top: 0.5em;
	color: $md-gr;
}


.homeinfo {
	margin: 2em 0;
}

.homeinfo h3 {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0;
	margin-top: 1em;

}

.homeinfo h3:first-child {
	margin-top: 0;
}

.homeinfo p {
	margin-top: 0;
}

    @include breakpoint($min-tablet) {
    	.introdek p {
    	}
    	.introdek {
			padding: 0 10%;
		}


		.homeinfo {
			padding: 0 10%;
		}
  }
