.mq-main {
  background-color: $white;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint($medium-max) {
    max-width: 1200px;
    width: 100%;
  }
}

.region-content {
  position: relative;
  padding: 1em 20px 2rem;
}
