<div class= "hero">
  <div class= "hero__background-img">
    <img src="../images/wide_home-hero.jpg"/>
  </div>
  <div class="hero__details">
    <div class= "hero__details-logo">
      <a href="https://www.drupalgovcon.org/"> <img src="../images/logo.svg"></a>
    </div>
    <div class="hero__details-callout">
      <a class="hero__details-button">Mark Your Calendars!</a>
    </div>
  </div>
</div>
