


<form>
  <label for="text_field">Text Field:</label>
  <input type="text" id="text_field">
  

  <label for="text_field_disabled">Disabled Text Field:</label>
  <input type="text" id="text_field_disabled" disabled="" value="I'm disabled">
  

  <label for="text_field_readonly">Readonly Text Field:</label>
  <input type="text" id="text_field_readonly" readonly="" value="I'm readonly">
  

  <label for="text_area">Text Area:</label>
  <textarea id="text_area" style="margin: 0px; width: 357px; height: 69px;"></textarea>
  

  <label for="text_area_disabled">Disabled Text Area:</label>
    <textarea id="text_area_disabled" disabled="">I'm disabled</textarea>
  

  <label for="text_area">Readonly Text Area:</label>
  <textarea id="text_area" readonly="">I'm readonly</textarea>
</form>  