<div role="search">
  <label for="search_1" style="display: block;">Search the site:</label>
  <input type="search" name="search" id="search_1" class="search-form__input" />
  <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
</div>

<div role="search">
  <label for="search_2" class="visuallyhidden">Search the site</label>
  <input type="search" name="search" id="search_2" class="search-form__input" placeholder="search for..." />
  <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
</div>

<div role="search">
  <input type="search" name="search" aria-label="Search">
  <button type="submit"><span class="visuallyhidden">Perform</span>Search</button>
</div>