<fieldset>
  <legend>Radio Buttons Fieldset:</legend>
  <input type="radio" id="radio1" class="radio" name="radio_button" value="radio_1">
  <label for="radio1">Radio 1</label>
  <input type="radio" id="radio2" class="radio" name="radio_button" value="radio_2">
  <label for="radio2">Radio 2</label>
  <input type="radio" id="radio3" class="radio" name="radio_button" value="radio_3">
  <label for="radio3">Radio 3</label>
  <input type="radio" id="radio-disabled" class="radio" name="radio_button" value="radio_4" disabled>
  <label for="radio-disabled">Radio Disabled</label>
</fieldset>

<div role="group" aria-labelledby="radio-identifier">
  <p id="radio-identifier">Radio Buttons using group roles and aria-labelledby</p>
  <input type="radio" id="group-radio1" class="radio" name="radio_button" value="radio_1">
  <label for="group-radio1">Radio 1</label>
  <input type="radio" id="group-radio2" class="radio" name="radio_button" value="radio_2">
  <label for="group-radio2">Radio 2</label>
  <input type="radio" id="group-radio3" class="radio" name="radio_button" value="radio_3">
  <label for="group-radio3">Radio 3</label>
  <input type="radio" id="group-radio-disabled" class="radio" name="radio_button" value="radio_4" disabled>
  <label for="group-radio-disabled">Radio Disabled</label>
</div>

<fieldset>
  <legend>Checkboxes:</legend>
  <input type="checkbox" id="checkbox1" class="checkbox" name="checkboxes" value="check_1">
  <label for="checkbox1">Checkbox 1</label>
  <input type="checkbox" id="checkbox2" class="checkbox" name="checkboxes" value="check_2">
  <label for="checkbox2">Checkbox 2</label>
  <input type="checkbox" id="checkbox3" class="checkbox" name="checkboxes" value="check_3">
  <label for="checkbox3">Checkbox 3</label>
  <input type="checkbox" id="checkbox-disabled" class="checkbox" name="checkboxes" value="check_4" disabled>
  <label for="checkbox-disabled">Checkbox Disabled</label>
</fieldset>

<div role="group" aria-labelledby="checkbox-identifier">
  <p id="checkbox-identifier">Radio Buttons using group roles and aria-labelledby</p>
  <input type="checkbox" id="group-checkbox1" class="checkbox" name="checkboxes" value="check_1">
  <label for="group-checkbox1">Checkbox 1</label>
  <input type="checkbox" id="group-checkbox2" class="checkbox" name="checkboxes" value="check_2">
  <label for="group-checkbox2">Checkbox 2</label>
  <input type="checkbox" id="group-checkbox3" class="checkbox" name="checkboxes" value="check_3">
  <label for="group-checkbox3">Checkbox 3</label>
  <input type="checkbox" id="group-checkbox-disabled" class="checkbox" name="checkboxes" value="check_4" disabled>
  <label for="group-checkbox-disabled">Checkbox Disabled</label>
</div>