// Account Menu
//
// Login, Logout, and Account links
//
// Markup: account-menu.twig
//
// Style guide: components.account-menu

.account-menu {
  position: absolute;
  top: 0;
  right: 60px;

  @include breakpoint($min-tablet) {
    right: 10px;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0;
    margin: 0 0.2em;
    display: inline-block;

    a {
      display: inline-block;
      line-height: 55px;
      font-size: 0.9rem;
      color: $wht;

      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}
