// Attendee Display
//
// Attendee Display Layout
//
// Markup: attendeedisplay.twig
//
// Style guide: attendeedisplay.schedule

nav#block-schedule {
	display: inline-block;
	font-weight: 400;
	font-size: 0.875em;
	width: 100%;
  ul {
	  padding-left: 0;
	  width: 100%;
  }

  ul li {
  	list-style-type: none;
  	display: block;
  	float: left;
  	margin-top: 0;
  	margin-bottom: 0;
  	width: 33.33%;
  }

  ul li a:link,
  ul li a:visited {
  	padding: 0.5em 0.5em 0.375em 0.5em;
  	color: $green;
  	background: rgba($green,0.375);
  	font-weight: 400;
  	text-decoration: none;
  	display: block; // Added to fix
  	text-align: center;
  }

  ul li a.is-active {
    background: rgba($green,1);
  	color: rgba(255,255,255,1);
  }
}

.block-views-exposed-filter-blocksessions-schedule-page-1 {
	position: relative;
  .form-item {
    margin-right: .75em;
  }

  .form-actions {
    padding-top: 0;
  }
}

#views-exposed-form-sessions-schedule-page-1 {
	position: relative;
}

.program-schedule .views-exposed-form .form-type-select.form-item-sort-by,
.program-schedule .views-exposed-form .form-type-select.form-item-sort-order,
.program-schedule .views-exposed-form .form-type-select.form-item-field-experience-level-value,
.program-schedule .views-exposed-form .form-type-select.form-item-field-session-track-target-id,
.program-schedule .views-exposed-form .form-actions.js-form-wrapper.form-wrapper,
#views-exposed-form-sessions-schedule-page-1 .form-type-select.form-item-track,
#views-exposed-form-sessions-schedule-page-1 .form-type-select.form-item-experience {
	display: inline-block;
}

#views-exposed-form-sessions-schedule-page-1 .form-type-select.form-item-track,
#views-exposed-form-sessions-schedule-page-1 .form-type-select.form-item-experience {
	margin-top: 0.5em;
}


.program-schedule .views-exposed-form .form-actions.js-form-wrapper.form-wrapper,
.program-schedule .views-exposed-form,
#views-exposed-form-sessions-schedule-page-1 select {
	margin-bottom: 0;
}

div#edit-actions.form-actions.js-form-wrapper.form-wrapper {
	position: relative;
}

.program-schedule #edit-field-schedule-date-value,
.program-schedule #edit-field-schedule-time-value {
	padding-left: 0.27em;

}

.program-schedule .views-exposed-form select,
#views-exposed-form-sessions-schedule-page-1 select {
	width: 8em;
	text-overflow: ellipsis;
}


.program-schedule #edit-field-schedule-date-value > div:first-child,
.program-schedule #edit-field-schedule-time-value > div:first-child {
	display: none;
}


.program-schedule #edit-field-schedule-date-value > div,
.program-schedule #edit-field-schedule-time-value > div,
 {
	display: inline-block;
	font-weight: 400;
	font-size: 1.2em;
}

.program-schedule #edit-field-schedule-date-value > div a:link,
.program-schedule #edit-field-schedule-date-value > div a:visited,
.program-schedule #edit-field-schedule-time-value > div a:link,
.program-schedule #edit-field-schedule-time-value > div a:visited {
	padding: 0.5em;
	color: rgba(255,255,255,1);
	background: rgba($green,0.75);
	text-decoration: none;
	margin-left: -0.23em;
}

.program-schedule #edit-field-schedule-date-value > div a.bef-link-active,
.program-schedule #edit-field-schedule-time-value > div a.bef-link-active {
	background: rgba($green,1);
}


.program-schedule .view-grouping-header,
.program-schedule .view-header {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: bold;
	color: $wht;
	letter-spacing: 0.03em;
	background: rgba($green,1);
	margin-top: -0.375em;
	border-top: 2px solid $green;
	padding: 0.5em 0.5em 0.375em 0.5em;
}

.program-schedule .view-grouping {
	margin-top: -1em;
}

.program-schedule .view-content h3 time,
.program-schedule h3 time {
	display: block;
	color: $green;
	width: 100%;
	margin-top: 1em;
	margin-bottom: -0.30em;
	border-bottom: 4px solid $green;
}


.program-schedule .view-grouping .view-grouping-content h3,
.program-schedule .view-content h3 {
	font-size: 1.25em !important;
}

.program-schedule .views-row {
	background: rgba($green, 0.2);
	border-top: 2px solid $green;
	padding: 0.5em 0.5em 1em 0.5em;
}


.program-schedule .views-row:nth-child(even) {
	background: rgba($green, 0.1);
}

.program-schedule .views-row div.views-field.views-field-title h3.field-content,
.program-schedule .views-row article header h3 {
	font-weight: 500;
	color: $blu;
}

.program-schedule header h3 a:link,
.program-schedule header h3 a:visited {
	text-decoration: none;
}

.program-schedule header h3 a:hover {
	opacity: 0.5;
}

.program-schedule .session-presenters {
	padding-bottom: 0.5em;
	font-style: italic;
	font-size: 1.125em;

}

.program-schedule .session-presenters a:link {
	text-decoration: none;
}


.program-schedule .session-presenters a:hover {
	opacity: 0.5;
}

.program-schedule .field--name-field-session-track {
	padding-right: 0.25em;
}

.program-schedule .field--name-field-session-track a:link,
.program-schedule .field--name-field-session-track a:visited {
	color: rgba($green,1);
	text-decoration: none;
}
.program-schedule .field--name-field-session-track a:hover {
	opacity: 0.5;
}

.program-schedule .field--name-field-experience-level {
	position: relative;
	padding-left: 0.5em;
	color: rgba($green,0.75);
}

.program-schedule .field--name-field-experience-level:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 17%;
	width: 1px;
	height: 75%;
	border-right: 2px solid rgba($green,0.75);
	z-index: 100;

}

.program-schedule .session-location {
	margin-top: 0.25em;
}

.program-schedule .field--name-field-session-room {
	font-style: italic;
	color: $lt-blk;
}

.program-schedule .views-field-uid {
	font-style: italic;
}

.program-schedule .flag-session_schedule {
	margin-top: 0.5em;
}

input#edit-submit-sessions-schedule {
	padding: 0.25em 0.5em 0.125em 0.5em;
	font-size: 1.2em;
	line-height: 1.4;
}

#edit-actions.form-actions.js-form-wrapper.form-wrapper {
	display: inline-block;
	position: absolute;
	bottom: -0.6em;
}

    @include breakpoint($min-tablet) {
    	nav#block-schedule {
    	display: inline-block;
		font-weight: 400;
		font-size: 1.2em;
	  ul {
		  padding-left: 0;
	  }

	  ul li {
	  	list-style-type: none;
	  	display: block;
	  	float: left;
	  	margin-top: 0;
	  	margin-bottom: 0;
	  	width: auto;
	  }

		ul li a:link,
	  	ul li a:visited {
	  	padding: 0.5em 1em 0.375em 1em;
	  	color: $green;
	  	background: rgba($green,0.375);
	  	font-weight: 400;
	  	text-decoration: none;
	  	display: block; // Added to fix
	  }
	  	ul li a.is-active {
	    background: rgba($green,1);
	  	color: rgba(255,255,255,1);
	  }

		.block-views-exposed-filter-blocksessions-schedule-page-1 {
			position: relative;
			border: 1px solid red;
		  .form-item {
		    margin-right: .75em;
		  }

		  .form-actions {
		    padding-top: 1.5em;
		    border: 1px solid red;
		  }
		}
		}

		.block-views-exposed-filter-blocksessions-schedule-page-1 #edit-actions.form-actions.js-form-wrapper.form-wrapper {
			padding-top: 1.5em;
		}
    	
  }
