.view-sponsors-page {
  margin-bottom: 8em;

  .view-content {
    border-radius: 0.5em;
    padding: 1em;
    background: $white;
  }

  h3 {
    margin: 0;
    border-bottom: 0.125em solid rgba($sienna, 0.5);
    padding-bottom: 0.125em;
    font-size: 1.5em;
    text-align: center;
  }
}

.view-group--sponsors-page {
  @include clearfix;

  padding: 1.5em 0;
  margin: 0;
  text-align: center;
  display: block;

  h2 {
    margin-top: 40px;
  }

  p {
    font-size: 0.75em;
    font-style: italic;
  }
}

.sponsor {
  width: 21%;
  vertical-align: middle;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;

  img {
    width: 100% !important;
    height: 100% !important;
  }

  img:hover {
    opacity: 0.5; // Hover effect for logos
  }
}
