.view-sponsors-page {
  border-radius: 0.5em;
  padding: 1em;
  background: $white;
}

.view-group--sponsors-page {
  @include clearfix;

  padding: 0;
  margin: 0;
  text-align: center;
  display: block;

  h2 {
    margin-top: 40px;
  }

  p {
    font-size: 0.75em;
    font-style: italic;
  }
}

.sponsor {
  width: 75%;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;

  @include breakpoint($small-max) {
    width: 50%;
  }

  @include breakpoint($medium-max) {
    width: 33%;
  }

  img {
    width: 100% !important;
    height: 100% !important;
  }

  img:hover {
    opacity: 0.5; // Hover effect for logos
  }
}
