// Forms
//
// Base form elements.
//
// Markup: form_html.twig
//
// Style guide: base.forms
form {
  margin: 0 0 1em;
}
label {
  margin: 0;
  color: $blu;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
textarea {
  border-radius: 0.2em;
  background: rgba(134,151,58,0.1);
  font-family: inherit;
  border: 1px solid $slv;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  box-shadow: 0 0 5px $md-gr;
  border-color: $md-gr;
  background: rgba(134,151,58,0.1);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  background: rgba(134,151,58,0.1);
  border-color: $md-gr;
  outline: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
textarea[disabled] {
  background: rgba(134,151,58,0.05);
  color: $lt-gr;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}
label.option {
  display: inline;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.2em;
  font-weight: normal;
  color: $wht;
  background: rgba(0,62,106,1) url('../images/GovCon-FileUpload-SM-Rev.svg') 4% center no-repeat;
  background-size: 1em;
  padding: 0.25em 0.5em 0.125em 2em;
  border-radius: 0.25em;
  border: 1px solid rgba(0,62,106,1);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background: rgba(134,151,58,1) url('../images/GovCon-FileUpload-SM-Rev.svg') 4% center no-repeat;
  background-size: 1em;
  padding: 0.25em 0.5em 0.125em 2em;
  display: inline-block;
}

fieldset {
  border: solid 1px $lt-gr;
  padding: 1.25em;
  margin: 1.125em 0;
}
fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}
// Error conditions ////////////////////////////
.error,
.error textarea,
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
.error label,
.error label.error {
  color: $red;
}
.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: $red;
  color: #fff;
}
.error span.error-message {
  display: block;
}
input.error,
textarea.error {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
input.error:focus,
textarea.error:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
}
.error select:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
label.error {
  color: $red;
}
// Form HTML5
//
// Markup: form_html5.twig
//
// Style guide: base.forms
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  border-radius: 0;
  background-color: $wht;
  font-family: inherit;
  border: 1px solid $slv;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  box-shadow: 0 0 5px $md-gr;
  border-color: $md-gr;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  background: $ltr-gr;
  border-color: $md-gr;
  outline: none;
}
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled] {
  background-color: $lt-gr;
}
// Select Button Styling
select {
  appearance: none;
  color: rgba(255,255,255,1);
  font-size: 0.875em;
  background: rgba(0,62,106,1) url('../images/GovCon-DownArrow-SM-Rev.svg') 96% center no-repeat;
  background-size: 1em;
  border: 1px solid rgba(0,62,106,1);
  padding: 0.25em 2em 0.125em 0.5em;
  border-radius: 0.25em;
  text-indent: 0.01px;
  text-overflow: '';
}

select[disabled] {
  background: rgba(0,62,106,0.7) url('../images/GovCon-DownArrow-SM-Rev.svg') 96% center no-repeat;
  background-size: 1em;
  border: 1px solid rgba(0,62,106,0.7);
}

// Submit Button Styling
input[type=submit] {
  appearance: none;
  color: rgba(255,255,255,1);
  background: rgba(0,62,106,1);
  font-size: 0.875em;
  background-size: 1em;
  border: 1px solid rgba(0,62,106,1);
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 0.25em;
}

input[type=submit]:hover {
  color: rgba(255,255,255,1);
  background: rgba(134,151,58,1);

}

// Radio and Checkbox Styling
.form-type-checkbox,
.form-type-radio {
  position: relative; // Sets containing element positioning for children
}

.form_radio label,
.form_checkbox label,
.form-type-checkbox label,
.form-type-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-right: 1em; /* Added Setting */
  margin-right: 15px;
  margin-bottom: 0.75em;
  font-size: 0.875em;
  font-weight: normal;
  color: $lt-blk;
}


.form_radio input[type=radio],
.form-type-radio input[type=radio] {
  display: none;
}


.form_radio input[type=radio]:disabled + label {
  color: $md-gr;
}

.form_checkbox input[type=checkbox]:disabled + label {
  color: $md-gr;
}

.form_radio input[type=radio]:first-child + label,
.form_checkbox input[type=checkbox]:first-child + label {
  padding-top: 0.5em;
}

p.form_radio,
p.form_checkbox {
  color: $blu;
  font-size: 1em;
  font-weight: 500;
}

// Fieldset Styling
fieldset legend {
  color: $blu;
  //background: $blu;
  //background: $slv;
  background: lighten( $slv, 60% );
  background: rgba($slv, .5);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 1px solid $slv;
  font-weight: normal;
}

fieldset {
  background: rgba(134,151,58,0.05);
  border-radius: 0.25em;
  border: 1px solid $slv;
}

fieldset#edit-sign-up-for-news--wrapper legend,
fieldset#edit-which-days-do-you-plan-to-attend-drupal-govcon---wrapper legend {
  margin-bottom: 0.25em; // Margin below Sign up for the News fixed.
}

fieldset#edit-sign-up-for-news--wrapper,
fieldset#edit-which-days-do-you-plan-to-attend-drupal-govcon---wrapper,
fieldset#edit-field-sponsor-sponsorship-level--wrapper  {
  margin-bottom: 1em;
  border: 1px solid $slv;
  padding: 1em;
}

fieldset#edit-address--wrapper legend:first-child {
  display: none; // This hides the address label in the contact webform
}

.profile{
  display:none;
}

.form-required {
  &:after {
    content: '*';
  }
}

//Styling for Sponsorship Level Checkbox Legend //
fieldset#edit-field-sponsor-sponsorship-level--wrapper legend {
  margin-left: .20em;
}
