// Forms
//
// Base form elements.
//
// Markup: form_html.twig
//
// Style guide: base.forms
form {
  margin: 0 0 1em;
}
label {
  margin: 0;
  display: inline-block;
  color: $blu;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  border-radius: 0.2em;
  background: rgba(134,151,58,0.1);
  font-family: inherit;
  border: 1px solid $slv;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  box-shadow: 0 0 5px $md-gr;
  border-color: $md-gr;
  background: rgba(134,151,58,0.1);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  background: rgba(134,151,58,0.1);
  border-color: $md-gr;
  outline: none;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
textarea[disabled] {
  background: rgba(134,151,58,0.05);
  color: $lt-gr;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
    font-size: 1.2em;
    font-weight: normal;
    color: $wht;
    //background-color: $blu;
    background: rgba(0,62,106,1) url('../images/GovCon-FileUpload-SM-Rev.svg') 4% center no-repeat;
    background-size: 1em;
    padding: 0.25em 0.5em 0.125em 0.5em;
    padding: 0.25em 0.5em 0.125em 2em;
    border-radius: 0.25em;
    border: 1px solid rgba(0,62,106,1);
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(134,151,58,1);
    background: rgba(134,151,58,1) url('../images/GovCon-FileUpload-Rev-SM.svg') 4% center no-repeat;
    background-size: 1em;
    padding: 0.25em 0.5em 0.125em 2em;
}
fieldset {
  border: solid 1px $lt-gr;
  padding: 1.25em;
  margin: 1.125em 0;
}
fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}
// Error conditions ////////////////////////////
.error
.error textarea,
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
.error label,
.error label.error {
  color: $red;
}
.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: $red;
  color: #fff;
}
.error span.error-message {
  display: block;
}
input.error,
textarea.error {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}
input.error:focus,
textarea.error:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
}
.error select:focus {
  background: $ltr-gr;
  border-color: $md-gr;
}
label.error {
  color: $red;
}
// Form HTML5
//
// Markup: form_html5.twig
//
// Style guide: base.forms
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  border-radius: 0;
  background-color: $wht;
  font-family: inherit;
  border: 1px solid $slv;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  box-shadow: 0 0 5px $md-gr;
  border-color: $md-gr;
}
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  background: $ltr-gr;
  border-color: $md-gr;
  outline: none;
}
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled] {
  background-color: $lt-gr;
}
// Select Button Styling
select {
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  background: rgba(0,62,106,1) url('../images/GovCon-DownArrow-SM-Rev.svg') 96% center no-repeat;
  background-size: 1em;
  border: 1px solid rgba(0,62,106,1);
  padding: 8px 32px 8px 16px;
  padding: 0.25em 2em 0.125em 0.5em;
  border-radius: 0.25em;
  text-indent: 0.01px;
  text-overflow: '';
}

select[disabled] {
  background: rgba(0,62,106,0.7) url('../images/GovCon-DownArrow-SM-Rev.svg') 96% center no-repeat;
  background-size: 1em;
  border: 1px solid rgba(0,62,106,0.7);
}

// Radio and Checkbox Styling
.form_radio label,
.form_checkbox label {
    display: inline-block;
    display: inherit;
    cursor: pointer;
    position: relative;
    padding-left: 32px; /* Added Setting for 24 px */
    padding-right: 1em; /* Added Setting */
    margin-right: 15px;
    margin-bottom: 0.75em;
    font-size: 1em; /* Added Setting */
    font-size: 0.875em;
    font-weight: normal;
    color: $lt-blk;
}


.form_radio input[type=radio] {
    display: none;
}


.form_radio label:before,
.form_checkbox label:before {
    content: "";
    display: inline-block;
    display: block; /* Added Setting */
    width: 16px;
    width: 24px;
    height: 16px;
    height: 24px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0.006em; /* Added Setting */
    background-color: rgba(134,151,58,0.75); /* Added Setting */
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.form_radio label:before {
    border-radius: 0.875em; /* Added Setting for 24 px */
}

.form_radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: rgba(0,62,106,1);
    font-size: 44px;
    text-align: center;
    line-height: 0.4em;
    bottom: 0.003em;
}

.form_radio input[type=radio]:disabled + label:before {
  background-color: rgba(134,151,58,0.25);
}


.form_radio input[type=radio]:disabled + label {
  color: $md-gr;
}

.form_checkbox input[type=checkbox] {
    display: none;
}

.form_checkbox label:before {
    border-radius: 0.25em; /* Added Setting */
}

.form_checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 21px; /* Added Setting for 24 px */
    color: rgba(0,62,106,1); /* Added Setting */
    text-align: center;
    line-height: 20px; /* Added Setting for 24 px */
}

.form_checkbox input[type=checkbox]:disabled + label:before {
  background-color: rgba(134,151,58,0.25);
}

.form_checkbox input[type=checkbox]:disabled + label {
  color: $md-gr;
}

.form_radio input[type=radio]:first-child + label,
.form_checkbox input[type=checkbox]:first-child + label {
  padding-top: 0.5em;
}

p.form_radio,
p.form_checkbox {
  color: $blu;
  font-size: 1em;
  font-weight: 500;
}
// End Radio and Checkbox Styling

// Fieldset Styling
fieldset legend {
  color: $wht;
  background: $blu;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

fieldset {
  background: rgba(134,151,58,0.05);
  border-radius: 0.25em;
  border: 1px solid $slv;
}
// End Fieldset Styling