// Main Menu
//
// Main Menu Styling
//
// Markup: main-menu.twig
//
// Style guide: components.main-menu

// .mm-navbar {
//   --mm-color-background: #213c75;
//   --mm-color-text-dimmed: #fff;
//   --mm-color-button: #fff;
//   --mm-navbar-size: 41px;
// }

// .mm-panel {
//   --mm-color-text: #2B2B2B;
//   --mm-color-button: #213c75;
// }

// .mm-panels {
//   --mm-color-background: #fff;
// }

// // Add shadow to page when open.
// .mm-wrapper_opening .mm-slideout {
//   border-left: 0;
//   box-shadow: -1px 0 3px 1px #0005;
// }

// Remove weird gap on left of menu.
.mm-listitem::after {
  left: 0;
}

header {
  .responsive-menu-toggle {
    display: block;
  }

  .responsive-menu-toggle span.label {
    top: 5px;
  }

  .responsive-menu-block-wrapper {
    background: $primary-darkest;
  }

  .horizontal-menu {
    background: $primary-darkest;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding: 0;

    @include breakpoint($small-max) {
      margin-top: 0;
      min-height: auto;
      overflow-x: visible;
      flex-direction: row;
      width: 50%;
      padding-top: 0;
    }

    li a {
      background: $primary-darkest;
    }

    .menu-item {
      position: relative;
      margin: 0;

      @include breakpoint($small-max) {
        margin: 0 15px 0 0;

        .sub-nav a {
          font-size: 0.875em;
          text-transform: none;
          padding: 6px 15px;
        }

        .sub-nav a:hover,
        .sub-nav a:focus {
          z-index: 10;
          height: auto;
          background-color: rgba($color-primary, 1);
          border-radius: 0;
        }
      }

      > a {
        text-transform: uppercase;
      }
    }

    a {
      color: $white;
      display: block;
      font-size: 1em;
      font-weight: 700;
      letter-spacing: 0.05em;
      padding: 0.5em 1.5em;
      text-decoration: none;

      @include breakpoint($small-max) {
        padding: 0.5em;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }
}
