@media print {
  html,
  body {
    margin: 0;
    overflow: visible;
  }

  body {
    background: transparent !important;
    padding: 0;
    line-height: 1.125;
    overflow: visible;
    margin: 0;
    margin-bottom: -0.25in;
    font-size: 1.25em;

    &::after {
      background-image: none !important;
    }
  }

  #off-canvas {
    display: none;
  }

}
