// Navigation
//
// Top nav bar
//
// Markup: nav.twig
//
// Style guide: components.nav


.nav {

  &__bar {
    background-color: $green;
    padding-top: 55px;
    position: relative;

    @include breakpoint($min-tablet) {
      padding-top: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;

    @include breakpoint($min-tablet) {
      display: none;
    }

    svg {
      fill: $wht;
      transition: opacity 0.5s ease;
      width: 40px;
      height: 40px;
    }

    a {
      display: block;
      height: 55px;
      padding: 0 15px;
    }

    a:hover svg {
      opacity: 0.7;
    }
  }

  &__logo-text {
    @include element-invisible;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;

    &--first-level {
      max-height: 1px; //0 would hide from screen readers
      overflow: hidden;
      transition: all 1s cubic-bezier(.325, 1, .22, 1);

      @include breakpoint($min-tablet) {
        max-height: none;
        text-align: center;
        overflow: visible;
      }
    }

    &--second-level,
    &--third-level {
      z-index: 500;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    background: $wht;

    @include breakpoint($min-tablet) {
      display: inline-block;
    }

    a {
      display: block;
      padding: 1em;
      margin: 0;
      border-bottom: 1px solid $lt-gr;
      color: $wht;
      background: $green;
      font-size: 1.2rem;
      font-weight: 500;
      transition: opacity 0.5s ease;

      @include breakpoint($min-tablet) {
        display: inline-block;
        height: 55px;
        line-height: 55px;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
      }

      &:link,
      &:visited {
        color: $wht;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 0.7;
      }
    }

    &--first-level {
      position: relative;

      @include breakpoint($min-tablet) {

        .nav__items--second-level {
          max-height: 1px; //0 would hide from screen readers
          margin-top: -1px; //move up to hide pixel
          position: absolute;
          overflow: hidden;
        }

        &:hover .nav__items--second-level,
        &:focus .nav__items--second-level {
          height: auto;
          max-height: 40rem;
          transition: all 2s cubic-bezier(.5, 1, .22, 1);
        }
      }
    }

    &--second-level,
    &--third-level {
      margin: 0;

      li {
        padding: 0;
        margin: 0;
      }

      a {
        font-weight: 400;
        padding-left: 2rem;
        font-size: 1rem;
        text-align: left;

        @include breakpoint($min-tablet) {
          width: 14rem;
          padding-left: 1rem;
        }
      }
    }

    &--third-level {

      a {
        padding-left: 3rem;

        @include breakpoint($min-tablet) {
          width: 14rem;
          padding-left: 2rem;
        }
      }
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    text-indent: -9999px; //Hide the label
    transition: all 1s cubic-bezier(.19, 1, .22, 1);

    //Remove blinking cursor
    border: none;
    color: transparent;
    text-shadow: 0 0 0 gray;
    text-align: center;

    &:focus {
        outline: none;
    }

    @include breakpoint($min-tablet) {
      display: none;
    }
  }

  &__icon-line {
    position: absolute;
    display: block;
    background: $wht;
    width: 27px;
    height: .2rem;
    border-radius: .2rem;
    left: 0;
    text-indent: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }
}

// Checkbox hack for pure CSS mobile menu
// inspired by http://codepen.io/bloom-dan/pen/vKdoar
.nav__bar input[type=checkbox] {
  display: none;
  visibility: hidden;

  &:checked {

    ~ nav .nav__items--first-level {
      height: auto;
      max-height: 60rem;
      transition: all 2s cubic-bezier(.5, 1, .22, 1);
    }

    ~ label .nav__icon-line:first-child {
      top: 0px;
      width: 27px;
      transform: translateX(-8px) rotate(-45deg) translateY(12px);
    }

    ~ label .nav__icon-line:nth-child(2) {
      opacity: 0;
    }

    ~ label .nav__icon-line:nth-child(3) {
      top: 14px;
      width: 27px;
      transform: translateX(-5px) rotate(45deg) translateY(-8px);
    }
  }
}
