<div class="nav__bar">
  <div class="nav__logo">
    <a href="/">
      <span class="nav__logo-text">GovCon 2017</span>
      <svg class="icon gc17">
        <use xlink:href="#gc17"></use>
      </svg>
    </a>
  </div>
  <input type="checkbox" id="toggle" aria-hidden="true" />
  <label for="toggle" class="nav__icon" aria-hidden="true">
    Expand the menu
    <span class="nav__icon-line"></span>
    <span class="nav__icon-line"></span>
    <span class="nav__icon-line"></span>
  </label>
  <nav role="navigation" class="nav">

    {% import _self as menus %}

    {#
      We call a macro which calls itself to render the full tree.
      @see http://twig.sensiolabs.org/doc/tags/macro.html
    #}
    {{ menus.menu_links(items, attributes, 0) }}

    {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
      {% if menu_level == 0 %}
      <ul class="nav__items nav__items--first-level">
      {% elseif menu_level == 1 %}
      <ul class="nav__items nav__items--second-level">
      {% elseif menu_level == 2 %}
      <ul class="nav__items nav__items--third-level">
      {% else %}
      <ul class="nav__items">
      {% endif %}
        {% for item in items %}
          {% if menu_level == 0 %}
          <li class="nav__item nav__item--first-level">
          {% elseif menu_level == 1 %}
          <li class="nav__item nav__item--second-level">
          {% elseif menu_level == 2 %}
          <li class="nav__item nav__item--third-level">
          {% else %}
          <li class="nav__item">
          {% endif %}
            {{ link(item.title, item.url) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endmacro %}

  </nav>
</div>