<footer class="footer">
  <div class="footer__inner">
    <div class="footer__disclaimer">{{footer_disclaimer}}</div>
    <ul class="footer__links">
      {% for item in footer_links %}
        <li><a href="{{item.url}}">{{item.text}}</a></li>
      {% endfor %}
    </ul>
    <ul class="footer__social">
      <li>
        <a href="https://twitter.com/drupalgovcon" title="Follow GovCon on Twitter">
          <svg class="icon twitter">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/DrupalGovCon" title="Facebook">
          <svg class="icon facebook">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="mailto:drupal4gov@gmail.com?subject=Contact from Website" title="Contact us">
          <svg class="icon email">
            <use xlink:href="#email"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer__logo">
      <a href="/" title="GovCon 2017">
        <svg class="gc17">
          <use xlink:href="#gc17"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
