.sponsor{
  width: 100%;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;

  @include breakpoint($min-tablet) {
    width: 50%;
  }

  @include breakpoint($tablet-to-desktop) {
    width: 33%;
  }

  @include breakpoint($desktop) {
    width: 25%;
  }

  img{
    width: 100% !important;
    height: 100% !important;
  }

  img:hover {
    opacity: 0.5; // Hover effect for logos
  }
}
