<aside>
  <div class="block">
    <h2>Example title</h2>
    Simple block: Liquorice fruitcake lollipop. Sesame snaps muffin gummies
    cake. Apple pie dessert sugar plum toffee marzipan bonbon sesame snaps
    halvah. Macaroon croissant sweet cheesecake. Croissant icing muffin. Gingerbread pudding
    halvah bonbon chupa chups bonbon sugar plum fruitcake ice cream. Bear claw
    tootsie roll jujubes.
  </div>
</aside>