<div id="secondarybanners" class="group">
<div class="home_cta group" id="sponsor">
	<img src="/themes/custom/twentyseventeen/images/GovCon2017_Connect_CTA_Image.jpg" alt="Sponsor at GovCon 2017">
	<div class="secondarybannertext">
	<h3>Connect</h3>
	<p><a href="#">Interested in sponsoring or exhibiting? ></a></p>
</div>
</div> <!-- End Sponsorship CTA -->
<div class="home_cta group" id="present">
	<img src="/themes/custom/twentyseventeen/images/GovCon2017_Present_CTA_Image.jpg" alt="Present at GovCon 2017">
	<div class="secondarybannertext">
	<h3>Present</h3>
	<p><a href="#">Share your knowledge with the community ></a></p>
</div>
</div> <!-- End Presentation CTA -->
</div> <!-- End Secondary Banners Div -->