nav.breadcrumb {
  @extend .blocked-style;

  margin-bottom: 5px;
  color: $dark-gray;

  ol {
    @extend .no-ul-list;

    li::before {
      content: '/';
      padding: 0 3px 0 0.5px;
      color: $dark-gray;
    }

    li:first-child::before {
      content: normal;
    }
  }
}
