// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.mq-header,
.mq-branding {
  margin: 0;
}

.menu--main {
  background: $teal;
}

.menu-main {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($small-max) {
    flex-direction: row;
    width: 50%;
  }

  &__item {
    position: relative;
    margin: 0.5em 0;

    @include breakpoint($small-max) {
      &:hover .menu-submenu {
        z-index: 10;
        height: auto;
        background: rgba($teal, 0.95);
        border-radius: 0 0 0.5em 0.5em;
      }
    }

    > a {
      text-transform: uppercase;
    }
  }

  a,
  a:hover {
    color: $med-gray;
    font-size: 1em;
    font-weight: 700;
  }
}

.menu-submenu {
  position: relative;
  padding: 0;
  list-style: none;

  @include breakpoint($small-max) {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  &__item {
    margin: 0;
    width: 14em;

    &:hover {
      background-color: rgba(94, 142, 149, 0.95);
    }
  }

  a {
    //padding: 1em 0.5em;
    font-size: 0.875em;

    &:hover {
      color: $white;
      font-size: 0.875em;
    }
  }
}
