.mq-main {
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $pale-yellow;

  @include breakpoint($medium-max) {
    width: 1200px;
  }
}

.region-content {
  position: relative;
  padding-top: 1em;
  padding-bottom: 2rem;
  padding-right: 20px;
  padding-left: 20px;
  
  @include breakpoint($small-max) {
    padding: 1em 20px 2rem; 
  }
  
  @include breakpoint($medium) {
    padding-right: 0;
    padding-left: 0;
  }
}
