<div class="region-header">
  <nav class="block-system-menublock menu--main">
    <input type="checkbox" id="show-menu" class="toggle" role="button">
    <label for="show-menu" class="toggle">
      <span class="visually-hidden">Show Menu</span>
      <div class="toggle__icon">
        <span class="toggle__icon-line"></span>
        <span class="toggle__icon-line"></span>
        <span class="toggle__icon-line"></span>
      </div>
    </label>
    <ul class="menu-main">
      <li class="menu-main__item"><a href="/">Example</a>
      <ul class="menu-submenu">
        <li class="menu-submenu__item"><a href="/">Example</a></li>
        <li class="menu-submenu__item"><a href="/">Example</a></li>
      </ul>
      </li>
      <li class="menu-main__item"><a href="/">Example</a></li>
      <li class="menu-main__item"><a href="/">Example</a></li>
      <li class="menu-main__item"><a href="/">Example</a></li>
    </ul>
  </nav>
</div>