{% if accepted_sessions['#view'].result|length > 0 %}
  {% set classes = [
    'view-updated-proposed-sessions',
  ]%}
  <div {{ attributes.addClass(classes) }}>
    <h2> {{ conference_year }} Accepted Sessions</h2>
    {{ accepted_sessions }}
  </div>
{% endif %}
