{% extends '@cog/block/block.html.twig' %}
{% block content %}
<div class="herowrapper">
  {{ content.field_background_image }}
  <div class="hero__details clearfix">
    <a href="{{ content.field_url.0['#title'] }}">
      {{ content.field_logo }}
    </a>
    {{ content.field_call_to_action_link }}
  </div>
 </div> <!-- Emd herowrapper -->
{% endblock %}
