// Blockquote
//
// Markup: blockquote.twig
//
// Style guide: atoms.blockquote
blockquote {
  padding: 0 15px;
  color: $gray;
  border-left: 4px solid $off-white;

  &:last-child {
    margin-bottom: 0;
  }
}
