<div class="hero__wrapper">
  <a href="{{ url }}">
    <svg class="hero__logo {{logo}}" alt="">
      <use xlink:href="#{{logo}}"></use>
    </svg>
  </a>
  <h1 class="hero__title">{{ title }}</h1>
  <div class="hero__ctas group">
	  <a class="hero__button" href="/form/registration?destination=/user/register">Tickets</a>
  </div>
</div>
