.body-sidebars-second aside.sidebar-second > .region-sidebar-second {
  .block-views-blockspecial-announcements-display-block-3 {
    margin-right: -15px;
    box-shadow: none;
  }
}

aside .block-views-blockspecial-announcements-display-block-3 {
  position: relative;
  border: none;
  border-radius: 0;
  padding: 20px 30px;
  box-sizing: border-box;
  letter-spacing: 0.02em;
  z-index: 1;
  margin-bottom: 0;

  // h2 {
  //   padding: 0;
  //   color: rgba(246, 148, 101, 1);
  //   font-size: 1.5em;
  //   font-weight: 700;
  //   margin-bottom: 0;
  // }

  h2 + div p {
    margin-top: 1em;
    margin-left: 1em;
  }

  .views-field-body h2 {
    font-size: 1em;
  }

  .views-row {
    border-top: 1px solid $med-gray;
    margin-top: 1.5em;
    padding-top: 0.75em;
  }

  .views-row-last {
    border-bottom: 1px solid $med-gray;
    margin-bottom: 1.5em;
    padding-bottom: 0.75em;
  }

  h3 {
    color: #005ea2;
    font-weight: 700;
    font-size: 1.17em;
    margin-left: 1em;
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }
}
