.view-taxonomy-term {
  .node--view-mode-teaser {
    margin: 3rem 0;
  }

  .node--view-mode-teaser h2 {
    margin-bottom: 0.5rem;
  }
}

li.node-readmore {
  padding-left: 0 !important;

  a {
    @extend a.button;
  }
}
