<div class="region region-content">
  <div id="block-twentyeighteen-page-title" data-block-plugin-id="page_title_block" class="block block-core block-page-title-block">
    <h1>Schedule</h1>
  </div>
  <nav role="navigation" id="block-2018schedule" data-block-plugin-id="system_menu_block:2018-schedule" class="block block-menu navigation block-system-menublock menu--_018-schedule">
    <ul class="menu">
      <li>
        <a href="/2018/schedule/my-schedule" data-drupal-link-system-path="2018/schedule/my-schedule">My Schedule</a>
      </li>
      <li>
        <a href="/2018/schedule/08/22" data-drupal-link-system-path="2018/schedule/08/22">Wednesday</a>
      </li>
      <li>
        <a href="/2018/schedule/08/23" data-drupal-link-system-path="2018/schedule/08/23">Thursday</a>
      </li>
      <li>
        <a href="/2018/schedule/08/24" data-drupal-link-system-path="2018/schedule/08/24" class="is-active">Friday</a>
      </li>
    </ul>
  </nav>
  <div id="block-twentyeighteen-content" data-block-plugin-id="system_main_block" class="block block-system block-system-main-block">
    <div class="views-element-container">
      <div class="program-schedule view view-sessions-schedule view-id-sessions_schedule view-display-id-page_2 js-view-dom-id-2771d8abedb98f06b0ed9fb05d24281000086086d97687bb4cef6a6ab48d1bcf">
        <div class="view-header">
          <h2><time datetime="00Z">Friday, August 24, 2018</time>
</h2>
        </div>
        <div class="view-content">
          <div class="view-grouping">
            <div class="view-grouping-header"></div>
            <div class="view-grouping-content"> <h2><time datetime="2018-08-24T13:00:00Z">9:00 am</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/automated-accessibility-testing" hreflang="en">Automated Accessibility Testing</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/1481" hreflang="en">rvtraveller</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/166" hreflang="en">Coding + Development</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Advanced</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony C</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/delegating-work-zippy-guide-releasing-your-death-grip-control" hreflang="en">Delegating Work: A Zippy Guide to Releasing Your Death Grip on Control</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/626" hreflang="en">handels</a> , <a href="/user/491" hreflang="en">fulton.k</a>, , <a href="/user/6851" hreflang="en">howellmf</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room G1/G2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/designing-content-drupal-defining-and-evaluating-site-structure-confidence" hreflang="en">Designing Content for Drupal: Defining and Evaluating Site Structure with Confidence</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10476" hreflang="en">jenharris</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/181" hreflang="en">Content Strategy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room F1/F2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/devops-onramp-better-delivery-through-customer-satisfaction" hreflang="en">DevOps: the Onramp to Better Delivery Through Customer Satisfaction</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2476" hreflang="en">ksalbrecht</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/171" hreflang="en">Devops, Performance, Security + Privacy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/site-building-tools-tips-modules-and-tricks" hreflang="en">Site Building Tools, Tips, Modules, and Tricks</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2651" hreflang="en">sfelder</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/161" hreflang="en">Site Building + Using Drupal</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room E1/E2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/human-side-devops-how-enable-more-people-break-more-things" hreflang="en">The Human Side of DevOps: How to Enable More People to Break More Things</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/9956" hreflang="en">ClintonAtMobomo</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony B</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/twig-wild-customizing-markup-minimal-php-knowledge" hreflang="en">Twig in the Wild: Customizing Markup with Minimal PHP Knowledge</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2136" hreflang="en">jkoul</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/156" hreflang="en">Design, Theme + UX</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
              <h2><time datetime="2018-08-24T14:00:00Z">10:00 am</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/cancelled-how-deal-criticism" hreflang="en">CANCELLED: How to Deal with Criticism</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/626" hreflang="en">handels</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/demystifying-seo-government-agencies" hreflang="en">Demystifying SEO For Government Agencies</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/656" hreflang="en">jasonhamrick</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/181" hreflang="en">Content Strategy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/entity-references-gone-wild-how-relationships-can-sink-your-project" hreflang="en">Entity References gone wild: How relationships can sink your project.</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/6451" hreflang="en">japerry</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/161" hreflang="en">Site Building + Using Drupal</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony C</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/high-level-lightning-talks" hreflang="en">High Level Lightning Talks</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/81" hreflang="en">bendygirl</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room G1/G2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/storybook-interactive-pattern-library-your-decoupled-applications" hreflang="en">Storybook: An Interactive Pattern Library for Your Decoupled Applications</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/3216" hreflang="en">brianperry</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/156" hreflang="en">Design, Theme + UX</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony B</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/task-automation-heroes-tools-make-testing-and-compliance-lightning-quick" hreflang="en">Task automation heroes: Tools to make testing and compliance lightning quick</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/1091" hreflang="en">dgrisier</a> , <a href="/user/1106" hreflang="en">dlopes690</a>, , <a href="/user/5041" hreflang="en">mhandpal</a>, , <a href="/user/1121" hreflang="en">jingwang</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/171" hreflang="en">Devops, Performance, Security + Privacy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room F1/F2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
              <h2><time datetime="2018-08-24T15:00:00Z">11:00 am</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/julian-rodriguez-orihuela-keynote" hreflang="en">Julián Rodriguez Orihuela Keynote</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/81" hreflang="en">bendygirl</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/96" hreflang="en">Keynote</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Auditorium</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
              <h2><time datetime="2018-08-24T17:00:00Z">1:00 pm</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/content-strategy-toolkit" hreflang="en">Content Strategy Toolkit</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10651" hreflang="en">gdd</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/181" hreflang="en">Content Strategy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room E1/E2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/ignore-naysayers-your-rfp-can-be-brilliant" hreflang="en">Ignore the Naysayers: Your RFP Can Be Brilliant! </a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/4906" hreflang="en">jcrespo</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room G1/G2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/integrating-drupal-8-salesforce" hreflang="en">Integrating Drupal 8 with Salesforce</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10541" hreflang="en">saratt</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/161" hreflang="en">Site Building + Using Drupal</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room F1/F2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/motivate-your-agile-team-open-source-mentality" hreflang="en">Motivate Your Agile Team with an Open Source Mentality</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/9676" hreflang="en">laural2979</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony C</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/personalization-good-bad-creepy-gdpr" hreflang="en">Personalization - the good, the bad, the creepy, the GDPR</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2286" hreflang="en">TheAmy</a> , <a href="/user/3016" hreflang="en">annie stone</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/181" hreflang="en">Content Strategy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/standardize-your-local-development-and-ci-lando" hreflang="en">Standardize Your Local Development and CI with Lando</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10231" hreflang="en">pirog</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/171" hreflang="en">Devops, Performance, Security + Privacy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Advanced</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/usability-and-accessibility" hreflang="en">Usability and Accessibility</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/5531" hreflang="en">junaidmasoodi</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/156" hreflang="en">Design, Theme + UX</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony B</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
              <h2><time datetime="2018-08-24T18:00:00Z">2:00 pm</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/4-essential-checklists-manage-drupal-projects" hreflang="en">4 Essential Checklists to Manage Drupal Projects</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/3281" hreflang="en">schiavone</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Auditorium</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/bringing-containers-production-brief-overview-orchestration-technologies" hreflang="en">Bringing Containers to Production: A brief overview of orchestration technologies.</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2131" hreflang="en">allgood</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/171" hreflang="en">Devops, Performance, Security + Privacy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony B</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/diy-drupal-8-site-builders" hreflang="en">DIY Drupal 8 for Site Builders</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10591" hreflang="en">bunthorne</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/161" hreflang="en">Site Building + Using Drupal</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room G1/G2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/join-us-drupalgovcon-2019-planning-team" hreflang="en">Join Us for DrupalGovCon 2019 Planning Team</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2181" hreflang="en">Nneka</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room E</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/ready-set-contribute" hreflang="en">Ready? Set? Contribute!</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10666" hreflang="en">eojthebrave</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room F1/F2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/simple-steps-mitigate-monstrous-migration" hreflang="en">Simple Steps To Mitigate Monstrous Migration</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/5861" hreflang="en">krysgeek</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/181" hreflang="en">Content Strategy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/2017-solar-eclipse-case-study-managing-major-events-cloud" hreflang="en">The 2017 Solar Eclipse - A Case Study in Managing Major Events in the Cloud</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/9936" hreflang="en">keidson11</a> , <a href="/user/7241" hreflang="en">atwhite</a>, , <a href="/user/7326" hreflang="en">orrin</a>, , <a href="/user/13471" hreflang="en">jackinloadup</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony C</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
              <h2><time datetime="2018-08-24T19:00:00Z">3:00 pm</time>
</h2>
              <div class="view-group--sessions-schedule">
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/beyond-module-security-updates-how-really-harden-and-protect-your-drupal" hreflang="en">Beyond Module Security Updates: How to really harden and protect your Drupal sites</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/9881" hreflang="en">greg.schnippel</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/171" hreflang="en">Devops, Performance, Security + Privacy</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room A</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/combining-all-things-graphql-middleware-give-all-your-decoupled-apis-single" hreflang="en">Combining All the Things: GraphQl Middleware to Give All Your Decoupled API's a Single Home.</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/9246" hreflang="en">danrogers</a> , <a href="/user/9611" hreflang="en">nickrigby</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/166" hreflang="en">Coding + Development</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room G1/G2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/discovery-discovery-discovery-discovery-most-import-part-project" hreflang="en">Discovery, discovery, discovery, discovery!  The most import part of the project</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/2461" hreflang="en">mcdwayne</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/176" hreflang="en">Business + Community</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room F1/F2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/do-what-i-mean-not-what-i-say-how-run-agile-project-waterfall-client" hreflang="en">Do what I mean, not what I say: How to run an Agile project for a Waterfall client</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/1511" hreflang="en">NoahWolfe</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/86" hreflang="en">Project Management</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony B</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/drupal-8-consuming-remote-apis" hreflang="en">Drupal 8 consuming remote APIs</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/10646" hreflang="en">jcastedoh</a> </span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/166" hreflang="en">Coding + Development</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Intermediate</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Room E1/E2</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
                <div class="views-row views-row-last">
                  <h4 class="views-field views-field-title"><span class="field-content"><a href="/2018/program/sessions/how-drupal-can-and-powering-government-open-data-efforts" hreflang="en">How Drupal Can (and Is) Powering Government Open Data Efforts</a></span></h4>
                  <div class="views-field views-field-uid"><span class="field-content"><a href="/user/8301" hreflang="en">Stefanie Gray</a> , <a href="/user/5516" hreflang="en">acouch</a></span></div>
                  <div class="views-field views-field-field-session-track">
                    <div class="field-content"><a href="/taxonomy/term/161" hreflang="en">Site Building + Using Drupal</a></div>
                  </div>
                  <div class="views-field views-field-field-experience-level">
                    <div class="field-content">Beginner</div>
                  </div>
                  <div class="views-field views-field-field-room views-field-field-session-room">
                    <div class="field-content">Balcony C</div>
                  </div>
                  <div class="views-field views-field-link-flag"><span class="field-content"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
