<div class="footer">
  <div class="footer__text">
      <p class="footer__text-content">Drupal GovCon, a production of Drupal4Gov, is made possible by our wonderful sponsors and volunteers. Graciously hosted by the NIH Library.</p>
  </div>
  <div class="footer__links">
    <div class="footer__links-icons">
      <a href="https://www.facebook.com/DrupalGovCon">
        <img src="../images/icon-facebook.svg" alt="Facebook" width="32px" height="32px" />
      </a>
      <a href="https://www.twitter.com/DrupalGovCon">
        <img src="../images/icon-twitter.svg" alt="Twitter" />
      </a>
      <a href="mailto:drupal4gov@gmail.com?subject=Contact from Website">
        <img src="../images/icon-email.svg" alt="Email" />
      </a>
    </div>
  </div>
  <div class="footer__logo">
    <img src="../images/logo.svg" alt="GovCon" width="75px" height="100px"/>
  </div>
</div>
