<div class="footer">
  <div class="footer-text-block">
      <p class="footer-text">Drupal GovCon, a production of Drupal4Gov, is made possible by our wonderful sponsors and volunteers. Graciously hosted by the NIH Library.</p>
  </div>
  <div class="footer-links-block">
    <div class="footer-social_links">
      <a href="https://www.facebook.com/DrupalGovCon">
        <img src="../images/facebook.svg" alt="F" width="32px" height="32px" />
      </a>
      <a href="https://www.twitter.com/DrupalGovCon">
        <img src="../images/twitter.svg" alt="T" />
      </a>
      <a href="mailto:drupal4gov@gmail.com?subject=Contact from Website">
        <img src="../images/email.svg" alt="E" />
      </a>
    </div>
  </div>
  <div class="footer-image-block">
    <img src="../images/gc17.svg" alt="GovCon" width="50px" height="75px"/>
  </div>
</div>
