// Forms
//
// Base form elements.
//
// Markup: form_html.twig
//
// Style guide: atoms.form
form {
  margin: 0 0 1em;
}

form .form-item {
  padding: 0.5em;
}

.form-item {
  .field--label-inline .field__label {
    background: $light-gold;
    color: $blk;
    font-weight: 700;
    line-height: 28px;
    margin: 0.25rem 0.5rem 0.25rem 0;
    padding: 0.25rem 0.5rem;
  }
}

.views-label {
  background: $light-gold;
  font-weight: 700;
  line-height: 28px;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.25rem 0.5rem;
}

form button.link-edit-summary {
  color: $gray !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: inherit;
  background: transparent;
  padding: 0;
  text-decoration: none;
  border-radius: 0;
  margin: 1em 0;
  outline: none;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
  color: $gray;
  cursor: pointer;
  font-weight: 400;
  margin: 0 0 0.1875em;
  padding-right: 4px;
  vertical-align: top;
}

.form-required::after {
  content: '*';
  margin-left: 0.2rem;
  color: $red;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  font-family: inherit;
  border: 1px solid $dark-gray;
  border-radius: 0;
  color: $darker-gray;
  display: block;
  font-size: 1.1em;
  margin: 0 0 1em;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;

  &:focus {
    box-shadow: 0 0 0.2em 0.1em rgba($color-primary, 0.5);
  }
}

input[type="text"]:disabled,
input[type="text"]:disabled:hover,
textarea:disabled {
  background-color: rgba($color-primary, 0.1);
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}

input[type="file"] {
  width: 100%;
}

.form-type-radio {
  position: relative;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  z-index: 10;
  opacity: 0;
  margin-left: 0.5em;

  + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 0.5em;
    margin-right: 1em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      z-index: -10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 1em;
      background-color: $color-primary;
    }
  }
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"] + label::before {
  border-radius: 2px;
}

input[type="radio"]:checked + label::before {
  content: "\2022";
  color: $white;
  font-size: 4em;
  text-align: center;
  line-height: 0.335;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: $white;
  text-align: center;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
  background-color: rgba($color-primary, 0.5);
}

select {
  background: $white;
  border: 1px solid $dark-gray;
  border-radius: 0;
  color: $darker-gray;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 0 0 1em;
  outline: none;
  width: 100%;
  max-width: 500px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  background-image: linear-gradient(45deg, transparent 50%, $darker-gray 50%), linear-gradient(135deg, $darker-gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 1.5em) calc(0.875em + 0.125em), calc(100% - 1em) calc(0.875em + 0.125em), calc(100% - 2.5em) 0.5em;
  background-size: 0.5em 0.5em, 0.5em 0.5em, 0 0;
  background-repeat: no-repeat;
  text-indent: 0.01px;
  text-overflow: '';
}

fieldset {
  border: 1px solid $med-gray;
  border-radius: 0;
  margin: 1em 0 2em;

  .fieldset-wrapper fieldset {
    margin-bottom: 0;
    padding: 0 !important;
  }
}

// Target the legend that occurs within
.fieldset-wrapper fieldset legend .fieldset-legend {
  border-bottom: 2px solid $gold;
  background: transparent;
  color: $dark-gray;
  text-transform: capitalize;
  margin-left: 0.5rem;
  padding-left: 0.25rem;
  margin-bottom: 1rem;
}

fieldset .fieldset-legend {
  background-color: $primary-darkest;
  color: $white;
  display: block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

// Error conditions ////////////////////////////
.error,
.error textarea,
.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

.error input:focus,
.error textarea:focus,
.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error label,
.error label.error {
  color: $red;
}

.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: $red;
  color: #fff;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

input.error:focus,
textarea.error:focus {
  background: $off-white;
  border-color: $light-gray;
}

.error select {
  border-color: $red;
  background-color: rgba(198, 15, 19, 0.1);
}

.error select:focus {
  background: $off-white;
  border-color: $light-gray;
}

label.error {
  color: $red;
}

input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  background-color: white;
  font-family: inherit;
  border: 1px solid $dark-gray;
  color: $dark-gray;
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: auto;
  box-sizing: border-box;
  transition: box-shadow 0.45s;

  &:focus {
    box-shadow: 0 0 0.2em 0.1em rgba($color-primary, 0.5);
  }
}

form input[disabled],
form button[disabled] {
  background-color: $light-gray;
  box-shadow: none;

  &:hover {
    background-color: $light-gray;
  }
}

// simple transitions ////////////////////
form button,
form input {
  transition: all 0.3s ease;

  &[disabled] {
    transition: auto;
  }
}

.field--label-inline .field__label,
.field--label-inline .field__item {
  display: inline-block;
}

.field--label-inline .field__label {
  background: $light-gold;
  color: $blk;
  font-weight: 700;
  line-height: 28px;
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.25rem 0.5rem;

  &::after {
    content: ':';
  }
}

table#field-session-co-presenter-s-values h4.label {
  color: #000;
}
