// Common Colors
$white: #fff;
$red: #981b1e;
$yellow: #e8ed57;

// b&w colors as placeholders
$blk: #000;
$gray: #323a45;
$dark-gray: #5b616b;
$med-gray: #a9aeb1;
$light-gray: #d6d7d9;
$lighter-gray: #f8f8f8;
$off-white: lighten($blk, 97%);
$white-gray: #f1f1f1;

// gold colors
$gold: #fe9e01;
$med-gold: rgba($gold, 0.5);
$light-gold: #fff1d2;
$light-yellow: rgba($gold, 0.2);
$pale-yellow: rgb(255, 248, 204);
$pale-blue: rgb(154, 184, 188);

// theme colors
$color-primary: #0071bc;
$mediumteal: rgb(22, 150, 144);
$primary-darkest: #213c75;
$orange: rgb(242, 101, 34);

// Utility color variables ///////////////
$heading: $color-primary;
$link: #004795;
$link-visited: #4c2c92;
$link-focus: #3e94cf;
$button-visited: #1a4480;
$button-active: #162e51;
$textarea: rgba(255, 253, 242, 1);
$textarea-focus: rgba(128, 188, 250, 1);
$legend: rgba(19, 73, 113, 0.9);
