// Base HTML Elements.
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  color: $gray;
  font-size: 1em;
  font-family: $body_font;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

svg.ext {
  margin-left: 0.2em;
}

.filter-wrapper {
  border: none;
}
