// Common Colors
$white: #fff;
$red: #ee696c;
$yellow: #e8ed57;

// b&w colors as placeholders
$blk: #000;
$gray: rgba(80, 80, 80, 1);
$med-gray: rgba(255, 255, 255, 0.5);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);

// gold colors
$gold: rgb(254, 218, 0);
$med-gold: rgba($gold, 0.5);
$light-gold: rgba($gold, 0.4);
$light-yellow: rgba($gold, 0.2);
$pale-yellow: rgb(255, 248, 204);

// theme colors
$teal: rgb(54, 114, 122);
$sienna: rgb(142, 47, 15);
$orange: rgb(255, 157, 1);
$dark-gray: rgb(80, 80, 80);

// Utility color variables ///////////////
$heading: $teal;
$link: $teal;
$textarea: rgba(255, 253, 242, 1);
$textarea-border: rgba(154, 184, 188, 1);
$textarea-focus: rgba(128, 188, 250, 1);
$legend: rgba(54, 114, 122, 0.75);

// Fonts ///////////////
$opensans: 'Open Sans';
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$heading_font: $opensans;
$body_font: $montserrat;

// Susy config ///////////////
$susy: (
  columns: 12, // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;

  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  }

  @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}
// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}

.tmp-shadow {
  box-shadow: 0 0 2px 0 rgba($med-gray, 1);
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;

  @extend .tmp-shadow;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

// CKEditor Styles - Ideally to be used more globally.
a.button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.25em;
  margin: 2em 0;
  color: $white !important;
  background-color: $teal;

  &:hover {
    background-color: $sienna;
  }
}

// Clearfix.
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
