@media print {
  html,
  body {
    margin: 0;
    overflow: visible;
  }

  body {
    background: transparent !important;
    padding-bottom: 0;
    overflow: visible;
    margin: 0;
    font-size: 0.875em;

    &::after {
      background-image: none !important;
    }
  }

  body.path--badges---submissions {
    @page {
      size: 4in 2.31in;
      margin: 0;
      padding: 0;
    }
  }

  .alias--badges---submissions .block-page-title-block {
    display: none;
  }

  header#branding {
    display: none;
  }

  header#header {
    display: none;
  }

  .mq-main {
    background: transparent !important;
    margin: 0 !important;
  }

  .body-sidebars-none section#content > * {
    padding: 0 !important;
  }

  .block-page-title-block {
    display: none;
  }

  .contextual .trigger {
    display: none;
  }

  button.trigger.focusable.visually-hidden {
    display: none;
  }

  .trigger {
    display: none;
  }

  .view-badges-submissions {
    .view-content {
      display: flex;
      align-items: center;
      padding-bottom: 0;
      height: 1.39in;
      text-align: center;
    }

    .views-row {
      display: inline-block;
      margin: 0 auto;
      padding-top: 0;
      box-sizing: border-box;
      text-align: center;
      color: black;
    }

    .views-field-webform-submission {
      &-value-2,
      &-value-3 {
        display: inline-block;
        font-weight: bold;
        font-size: 1.25em;
      }

      &-value-2 {
        margin-right: 0.25rem;
      }

      &-value-1::before {
        content: '\f1a9';
        margin-right: 0.5em;
        font-family: fontawesome;
      }

      &-value-4::before {
        content: '\f099';
        margin-right: 0.5em;
        font-family: fontawesome;
      }

      &-value-5 {
        font-style: italic;
      }

      &-value-6 {
        font-weight: bold;
        padding-top: 0.125em;
        font-size: 1em;
      }
    }
  }

  footer {
    display: none;
  }
}
